@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');

.Gothic {
    font-family: "Gothic A1", sans-serif;
}

@font-face {
    font-family:le ;
    src: url(/docs/assets/fonts/le_jour_script/Le\ Jour\ Script\ Personal\ Use\ Only.otf);
}

.le{
    font-family: "le", sans-serif;
}

@font-face {
    font-family: gotham;
    src: url(/docs/assets/fonts/Gotham-Book.otf) format("opentype");
}

.gotham {
    font-family: gotham;
}

@font-face {
    font-family: gothamMedium;
    src: url(/docs/assets/fonts/Gotham-Medium.otf) format("opentype");
}

.gothamMedium {
    font-family: gothamMedium;
}

@font-face {
    font-family: gothamBold;
    src: url(/docs/assets/fonts/Gotham-Bold.otf) format("opentype");
}

.gothamBold {
    font-family: gothamBold;
}

* {
    box-sizing: border-box;
    outline: none;
    font-family: "gotham";
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}